<table
  style="
    width: 571px;
    line-height: 1;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  "
  role="presentation"
>
  <tbody>
    <tr>
      <td style="padding: 0px 15px 0px 0px; text-align: center; width: 114px">
        <img
          src="https://nextcloud.segara.io/index.php/s/xNeF96J5nKRDczG/preview"
          alt="Isotipo de Segara"
          width="85"
          height="85"
          border="0"
        />
      </td>
      <td
        style="
          width: 456px;
          border-left: 1px solid;
          border-color: #cccccc;
          padding: 0px 0px 0px 15px;
        "
      >
        <p style="font-size: 18px; font-weight: bold; color: #0b486b">
          <!-- Edita aquí -->
          Ada Lovelace
        </p>
        <p
          style="
            margin-top: -10px;
            font-size: 16px;
            font-weight: normal;
            color: #4a4a4a;
          "
        >
          <!-- Edita aquí -->
          Programadora en
          <a href="https://segara.io" target="_blank">Segara</a>
        </p>
        <p style="font-size: 14px; font-weight: normal; color: #4a4a4a">
          <!-- Edita aquí -->
          alovelace@segara.io | +34 600 11 22 33
        </p>
        <table style="border-collapse: collapse; width: 27.2702%" border="0">
          <tbody>
            <tr>
              <td style="width: 7.73521%">
                <a
                  href="https://twitter.com/Segara_ES"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    src="https://nextcloud.segara.io/index.php/s/wYq5FdBPNNH243S/preview"
                    alt="Icono de Twitter"
                    width="25"
                    height="25"
                /></a>
              </td>
              <td style="width: 10.606%">
                <a
                  style="padding: 10px"
                  href="https://www.linkedin.com/company/segara-environmental-consulting/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    src="https://nextcloud.segara.io/index.php/s/YMGA7HSP3xfLLK9/preview"
                    alt="Icono de LinkedIn"
                    width="25"
                    height="25"
                /></a>
              </td>
              <td style="width: 8.93143%">
                <a
                  href="https://gitlab.com/segara"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    src="https://nextcloud.segara.io/index.php/s/NGfpJ4kEHGBmeWc/preview"
                    alt="Icono de GitLab"
                    width="25"
                    height="25"
                /></a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td
        style="padding: 20px 20px 0px 0px; width: 571px"
        colspan="2"
        valign="middle"
      >
        <img
          src="https://nextcloud.segara.io/index.php/s/2LBgbiNDtzqGjJx/preview"
          alt="Combo de logos del Ministerio para la Transici&oacute;n Ecol&oacute;gica, la Fundaci&oacute;n Biodiversidad, la Red Emprendeverde y el FSE de la Uni&oacute;n Europea"
          width="325"
          height="29"
        />
      </td>
    </tr>
    <tr>
      <td
        style="padding: 20px 20px 0px 0px; vertical-align: top; width: 571px"
        colspan="2"
        valign="middle"
      >
        <p style="font-size: 12px; font-weight: normal; color: #4a4a4a">
          Este mensaje contiene informaci&oacute;n que puede ser confidencial.
          Si no eres el destinatario (o autorizado por &eacute;ste para su
          recepci&oacute;n), no la debes usar, copiar, distribuir, en su
          totalidad o en parte, por ning&uacute;n medio. Si has recibido el
          mensaje por error, por favor avisa al remitente v&iacute;a e-mail, y
          borra el mensaje. Muchas gracias. Los datos personales que nos
          facilites ser&aacute;n utilizados &uacute;nicamente para gestionar tu
          consulta o prestar los servicios contratados. Puedes ejercer tus
          derechos de acceso, rectificaci&oacute;n, oposici&oacute;n,
          supresi&oacute;n, limitaci&oacute;n del tratamiento y portabilidad
          escribi&eacute;ndonos a
          <a href="mailto:gdpr@segara.io">gdpr@segara.io</a>. Consulta nuestra
          <a
            href="https://segara.io/es/article/politica-privacidad"
            target="_blank"
            >Pol&iacute;tica de Privacidad</a
          >
          para saber m&aacute;s.
        </p>
        <p style="font-size: 12px; font-weight: normal; color: #4a4a4a">
          This message contains information which may be confidential and
          privileged. Unless you are the intended recipient (or authorized to
          receive this message for the intended recipient), you may not use,
          copy, disseminate or disclose to anyone the message or any information
          contained in the message. If you have received the message in error,
          please advise the sender by reply e-mail, and delete the message.
          Thank you very much. The personal data provided will be used solely to
          reply your requests or to provide the agreed services. You can
          exercise your rights of access, rectification, objection to
          processing, restrict processing, erasure and data portability, by
          writing to us at <a href="mailto:gdpr@segara.io">gdpr@segara.io</a>.
          Read our
          <a
            href="https://segara.io/es/article/politica-privacidad"
            target="_blank"
            >Privacy Policy</a
          >
          to learn more.
        </p>
        <p style="font-size: 12px; font-weight: normal; color: green">
          Antes de imprimir este e-mail, piensa bien si es necesario hacerlo.
          Una tonelada de papel implica la tala de 15 &aacute;rboles y el
          consumo de 150.000 a 200.000 litros de agua.
        </p>
      </td>
    </tr>
  </tbody>
</table>
